<!-- Home Content Part - Box One ==================================================
================================================== -->
<!--<div class="flexslider">
  <ul class="slides">
    <li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; display: list-item;"> 
        <a href="#"><img style="width: 100%;" src="/assets/homepage.png" alt=""></a>
    </li>
  </ul>
</div>-->

<div class="flexslider">
  <ul class="slides">
    <li> <a href="#"><img src="/assets/flexslider/6.jpg" alt=""/></a> </li>
    <li> <img style="width: 100%;" src="/assets/flixslider/6.jpg" alt=""> </li>
    <li> <a href="#"><img src="/assets/flexslider/6.jpg" alt="" /></a>
      <p class="flex-caption">Welcome to Proximet Site. This is example of the Caption Title.</p>
    </li>
  </ul>
</div>

<script>
$(document).on('load turbolinks:load', function () {
  $('.flexslider').flexslider({
    animation: "slide"
  });
});  
</script>