<!DOCTYPE html>
<div class="blankSeparator"></div>
<div class="container boxthree">
  <div class="sepContainer1"><!-- --></div>
  <div class="blankSeparator"></div>
  <div class="one_third">
    <section class="boxthreeleft"> <img src="/assets/home/1.png" alt=""/>
      <h3>UBUNTU</h3>
      <p>Web development is a broad term for the work involved in developing a web site for the Internet (World Wide Web) or an intranet.</p>
      <a class ="simple" href="#">+ Learn more</a> </section>
  </div>
  <!-- one-third column ends here -->
  <div class="one_third">
    <section class="boxthreecenter"> <img src="/assets/home/2.png" alt=""/>
      <h3>LINUX</h3>
      <p>Web design encompasses many different skills and disciplines as graphics design, interface design, user experience design etc</p>
      <a class ="simple" href="#">+ Learn more</a> </section>
  </div>
  <!-- one-third column ends here -->
  <div class="one_third lastcolumn">
    <section class="boxthreeright"> <img src="/assets/home/3.png" alt=""/>
      <h3>WINDOWS</h3>
      <p>Software development is the process of computer programming, documenting, testing, and bug fixing involved in creating</p>
      <a class ="simple" href="#">+ Learn more</a> </section>
  </div>
  <!-- one-third column ends here --> 
</div>
<div class="blankSeparator1"></div>
