<meta charset="utf-8">
<title>Proximet Responsive Site Template</title>
<meta name="description" content="Place to put your description text">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<div class="blankSeparator1"></div>
<div class="container portfolio">
  <div class="two_third">
    <div class="flexslider">
      <ul class="slides">
        <li><img src="/assets/brandslip1.png" alt="" /></li>
<!--        <li><img src="/assets/brandslip2.png" alt="" /></li>-->
<!--        <li><img src="/assets/brandslip3.png" alt="" /></li>-->
      </ul>
      <ul class="flex-direction-nav">
		  <li><a class="flex-prev" href="#">Previous</a></li>
		  <li><a class="flex-next" href="#">Next</a></li>
      </ul>
    </div>
  </div>
  <div class="one_third lastcolumn">
    <h2>Brandslip</h2>
    <p>The application was developed for USA client in Ruby on Rails with mysql and javascript.
This application has users as brands and presenters to sign proposal and post jobs in the application. The brands are user who signs proposal for the job posted by the presenters. And presenter is user who posts the jobs in application and forms the bid between both of them.
For more convenient there is more functionality that they can message each other, communicate through application, also the payment transaction gateway for the payments.</p>
    <p class="portfolio"><a href="http://www.brandslip.com/" target="_blank">Project Details</a> | <a href="http://www.brandslip.com/" target="_blank">Visit Website</a></p>
  </div>
  <div class="two_third">
    <div class="flexslider">
      <ul class="slides">
        <li><img src="/assets/vichakshan.png" alt="" /></li>
      </ul>
      <ul class="flex-direction-nav">
		  <li><a class="flex-prev" href="#">Previous</a></li>
		  <li><a class="flex-next" href="#">Next</a></li>
      </ul>
    </div>
  </div>
  <div class="one_third lastcolumn">
    <h2>Vichakshan</h2>
    <p>This application allows users to see the list of magzines which will be helpful for health, sports, science, art of women, business women, fashion, brain dev, money, business, economics etc. With this application users can buy the magzines online and also can have the packages as querterly, 6 months and yearly. The payment gateway is implemented for payment process. Also if order is placed by the user online the books can be shipped to users specific address by the team of vichakshan.</p>
    <p class="portfolio"><a href="http://www.vichakshan.com/" target="_blank">Project Details</a> | <a href="http://www.vichakshan.com/" target="_blank">Visit Website</a></p>
  </div>
  <div class="two_third">
    <div class="flexslider">
      <ul class="slides">
        <li><img src="/assets/vichakshan.png" alt="" /></li>
      </ul>
      <ul class="flex-direction-nav">
		  <li><a class="flex-prev" href="#">Previous</a></li>
		  <li><a class="flex-next" href="#">Next</a></li>
      </ul>
    </div>
  </div>
  <div class="one_third lastcolumn">
    <h2>Padma Electronics</h2>
    <p>This application helps to users to buys the electronic products which are produced in the padma electronics company. products are as sepl bulbs, battery, tubelights, lamps etc. Also the vendors can buy a products in bulk which are shipped to specific address of the users by the team of padma electronics.</p>
    <p class="portfolio"><a href="http://www.seplworld.in/" target="_blank">Project Details</a> | <a href="http://www.seplworld.in/" target="_blank">Visit Website</a></p>
  </div>
</div>
