<!DOCTYPE html>
<div class="blankSeparator"></div>
<div class="container boxthree">
  <div class="sepContainer1"><!-- --></div>
  <div class="blankSeparator"></div>
  <div class="one_third">
    <section class="boxthreeleft"> <img src="/assets/home/1.png" alt=""/>
      <h3>WEB DEVELOPMENT</h3>
      <p>Web development is a broad term for the work involved in developing a web site for the Internet (World Wide Web) or an intranet.</p>
      <a class ="simple" href="#">+ Learn more</a> </section>
  </div>
  <!-- one-third column ends here -->
  <div class="one_third">
    <section class="boxthreecenter"> <img src="/assets/home/2.png" alt=""/>
      <h3>WEB DESIGN</h3>
      <p>Web design encompasses many different skills and disciplines as graphics design, interface design, user experience design etc</p>
      <a class ="simple" href="#">+ Learn more</a> </section>
  </div>
  <!-- one-third column ends here -->
  <div class="one_third lastcolumn">
    <section class="boxthreeright"> <img src="/assets/home/3.png" alt=""/>
      <h3>SOFTWARE DEVELOPMENT</h3>
      <p>Software development is the process of computer programming, documenting, testing, and bug fixing involved in creating</p>
      <a class ="simple" href="#">+ Learn more</a> </section>
  </div>
  <!-- one-third column ends here --> 
</div>
<div class="container boxthree">
  <div class="sepContainer1"><!-- --></div>
  <div class="blankSeparator"></div>
  <div class="one_third">
    <section class="boxthreeleft"> <img src="/assets/home/1.png" alt=""/>
      <h3>ANDRIOD DEVELOPMENT</h3>
      <p>Android software development is the process by which new applications are created for the Android operating system.</p>
      <a class ="simple" href="#">+ Learn more</a> </section>
  </div>
  <!-- one-third column ends here -->
  <div class="one_third">
    <section class="boxthreecenter"> <img src="/assets/home/2.png" alt=""/>
      <h3>IPHONE DEVELOPMENT</h3>
      <p>iOS (originally iPhone OS) is a mobile operating system created and developed by Apple Inc. and distributed exclusively for Apple</p>
      <a class ="simple" href="#">+ Learn more</a> </section>
  </div>
  <!-- one-third column ends here -->
  <div class="one_third lastcolumn">
    <section class="boxthreeright"> <img src="/assets/home/3.png" alt=""/>
      <h3>E- MARKETING</h3>
      <p>E-Marketing(Electronic marketing) is the marketing of products and services using electronic media such as the Internet which includes</p>
      <a class ="simple" href="#">+ Learn more</a> </section>
  </div>
  <!-- one-third column ends here --> 
</div>
<div class="container boxthree">
  <div class="sepContainer1"><!-- --></div>
  <div class="blankSeparator"></div>
  <div class="one_third">
    <section class="boxthreeleft"> <img src="/assets/home/1.png" alt=""/>
      <h3>WEB SOLUTION</h3>
      <p>Web solutions refer to anything that helps business flourish online. It includes website design and management, online sales</p>
      <a class ="simple" href="#">+ Learn more</a> </section>
  </div>
  <!-- one-third column ends here -->
  <div class="one_third">
    <section class="boxthreecenter"> <img src="/assets/home/2.png" alt=""/>
      <h3>BIG DATA MANAGEMENT</h3>
      <p>Big data management is the organization, administration and governance of large volumes of both structured and unstructured data.</p>
      <a class ="simple" href="#">+ Learn more</a> </section>
  </div>
  <!-- one-third column ends here -->
  <div class="one_third lastcolumn">
    <section class="boxthreeright"> <img src="/assets/home/3.png" alt=""/>
      <h3>UI DESIGN</h3>
      <p>User interface design (UI) is the design of user interfaces for machines and software, such as computers, home appliances,</p>
      <a class ="simple" href="#">+ Learn more</a> </section>
  </div>
  <!-- one-third column ends here --> 
</div>
<div class="container boxthree">
  <div class="sepContainer1"><!-- --></div>
  <div class="blankSeparator"></div>
  <div class="one_third">
    <section class="boxthreeleft"> <img src="/assets/home/1.png" alt=""/>
      <h3>SOFTWARE TESTING</h3>
      <p>oftware testing is an investigation conducted to provide stakeholders with information about the quality of the product or service under test.</p>
      <a class ="simple" href="#">+ Learn more</a> </section>
  </div>
  <!-- one-third column ends here -->
  <div class="one_third">
    <section class="boxthreecenter"> <img src="/assets/home/2.png" alt=""/>
      <h3>CALL CENTER/ BPO CENTER</h3>
      <p>A Business Process Outsourcing (BPO) organisation is responsible for performing a process or a part of a process of another business</p>
      <a class ="simple" href="#">+ Learn more</a> </section>
  </div>
  <!-- one-third column ends here -->
  <div class="one_third lastcolumn">
    <section class="boxthreeright"> <img src="/assets/home/3.png" alt=""/>
      <h3>MISCELLANEOUS</h3>
      <p>Various work as data enter, support for site, web hosting, document processing, document uploading, creating images etc.</p>
      <a class ="simple" href="#">+ Learn more</a> </section>
  </div>
  <!-- one-third column ends here --> 
</div>
<div class="blankSeparator1"></div>
