<!DOCTYPE html>
<div class="blankSeparator"></div>
<div class="container boxthree">
  <div class="sepContainer1"><!-- --></div>
  <div class="blankSeparator"></div>
  <div class="one_third">
    <section class="boxthreeleft"> <img src="/assets/home/1.png" alt=""/>
      <h3>WEB DEVELOPMENT</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <a class ="simple" href="#">+ Learn more</a> </section>
  </div>
  <!-- one-third column ends here -->
  <div class="one_third">
    <section class="boxthreecenter"> <img src="/assets/home/2.png" alt=""/>
      <h3>WEB DESIGN</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <a class ="simple" href="#">+ Learn more</a> </section>
  </div>
  <!-- one-third column ends here -->
  <div class="one_third lastcolumn">
    <section class="boxthreeright"> <img src="/assets/home/3.png" alt=""/>
      <h3>SOFTWARE DEVELOPMENT</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <a class ="simple" href="#">+ Learn more</a> </section>
  </div>
  <!-- one-third column ends here --> 
</div>
<div class="container boxthree">
  <div class="sepContainer1"><!-- --></div>
  <div class="blankSeparator"></div>
  <div class="one_third">
    <section class="boxthreeleft"> <img src="/assets/home/1.png" alt=""/>
      <h3>ANDRIOD DEVELOPMENT</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <a class ="simple" href="#">+ Learn more</a> </section>
  </div>
  <!-- one-third column ends here -->
  <div class="one_third">
    <section class="boxthreecenter"> <img src="/assets/home/2.png" alt=""/>
      <h3>IPHONE DEVELOPMENT</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <a class ="simple" href="#">+ Learn more</a> </section>
  </div>
  <!-- one-third column ends here -->
  <div class="one_third lastcolumn">
    <section class="boxthreeright"> <img src="/assets/home/3.png" alt=""/>
      <h3>E- MARKETING</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <a class ="simple" href="#">+ Learn more</a> </section>
  </div>
  <!-- one-third column ends here --> 
</div>
<div class="container boxthree">
  <div class="sepContainer1"><!-- --></div>
  <div class="blankSeparator"></div>
  <div class="one_third">
    <section class="boxthreeleft"> <img src="/assets/home/1.png" alt=""/>
      <h3>WEB SOLUTION</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <a class ="simple" href="#">+ Learn more</a> </section>
  </div>
  <!-- one-third column ends here -->
  <div class="one_third">
    <section class="boxthreecenter"> <img src="/assets/home/2.png" alt=""/>
      <h3>BIG DATA MANAGEMENT</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <a class ="simple" href="#">+ Learn more</a> </section>
  </div>
  <!-- one-third column ends here -->
  <div class="one_third lastcolumn">
    <section class="boxthreeright"> <img src="/assets/home/3.png" alt=""/>
      <h3>UI DESIGN</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <a class ="simple" href="#">+ Learn more</a> </section>
  </div>
  <!-- one-third column ends here --> 
</div>
<div class="container boxthree">
  <div class="sepContainer1"><!-- --></div>
  <div class="blankSeparator"></div>
  <div class="one_third">
    <section class="boxthreeleft"> <img src="/assets/home/1.png" alt=""/>
      <h3>SOFTWARE TESTING</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <a class ="simple" href="#">+ Learn more</a> </section>
  </div>
  <!-- one-third column ends here -->
  <div class="one_third">
    <section class="boxthreecenter"> <img src="/assets/home/2.png" alt=""/>
      <h3>CALL CENTER/ BPO CENTER</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <a class ="simple" href="#">+ Learn more</a> </section>
  </div>
  <!-- one-third column ends here -->
  <div class="one_third lastcolumn">
    <section class="boxthreeright"> <img src="/assets/home/3.png" alt=""/>
      <h3>MISCELLANEOUS</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <a class ="simple" href="#">+ Learn more</a> </section>
  </div>
  <!-- one-third column ends here --> 
</div>
<div class="blankSeparator1"></div>
