<!DOCTYPE html>
<div class="blankSeparator"></div>
<div class="container">
  <div class="one_third">
    <section class="aboutoneleft">
      <h2>Our Phylosophy</h2>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
      <img class="raster" src="images/raster.png" alt=""/>
    </section>
  </div>
  <!-- end one-third column ends here -->
  <div class="one_third">
    <section class="aboutonecenter">
      <h2>Our Motivation</h2>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
      <img class="raster" src="images/raster.png" alt=""/>
    </section>
  </div>
  <!-- end one-third column ends here -->
  <div class="one_third lastcolumn">
    <section class="aboutoneright">
      <h2>Our Latest Work</h2>
      <img src="images/about/1.jpg" alt=""/> </section>
  </div>
  <!-- end one-third column ends here --> 
</div>
<!-- econtainer ends here --> 
<!-- About Content Part - Box Two ==================================================
================================================== -->
<div class="container">
  <h2>Our Technologies</h2>
  <div class="toggle-trigger">Operating Systems</div>
  <div class="toggle-container">
  <div class="blankSeparator"></div>
	<div class="container boxthree">
		<div class="one_third">
		<section class="boxthreeleft"> <img src="/assets/ubuntu.png" alt=""/>
		  <h3>UBUNTU</h3>
		  <p>Web development is a broad term for the work involved in developing a web site for the Internet (World Wide Web) or an intranet.</p>
		  <a class ="simple" href="#">+ Learn more</a> </section>
	  </div>
	  <!-- one-third column ends here -->
	  <div class="one_third">
		<section class="boxthreecenter"> <img src="/assets/linux.png" alt=""/>
		  <h3>LINUX</h3>
		  <p>Web design encompasses many different skills and disciplines as graphics design, interface design, user experience design etc</p>
		  <a class ="simple" href="#">+ Learn more</a> </section>
	  </div>
	  <!-- one-third column ends here -->
	  <div class="one_third lastcolumn">
		<section class="boxthreeright"> <img src="/assets/windows.png" alt=""/>
		  <h3>WINDOWS</h3>
		  <p>Software development is the process of computer programming, documenting, testing, and bug fixing involved in creating</p>
		  <a class ="simple" href="#">+ Learn more</a> </section>
	  </div>
  	</div>
  </div>
  
  <div class="toggle-trigger">Web Programming</div>
  <div class="toggle-container">
    <div class="blankSeparator"></div>
<div class="container boxthree">
  <div class="one_third">
    <section class="boxthreeleft"> <img src="/assets/Ruby-on-Rails.png" alt=""/>
      <h3>RUBY ON RAILS</h3>
      <p>Web development is a broad term for the work involved in developing a web site for the Internet (World Wide Web) or an intranet.</p>
      <a class ="simple" href="#">+ Learn more</a> </section>
  </div>
  <!-- one-third column ends here -->
  <div class="one_third">
    <section class="boxthreecenter"> <img src="/assets/php.png" alt=""/>
      <h3>PHP</h3>
      <p>Web design encompasses many different skills and disciplines as graphics design, interface design, user experience design etc</p>
      <a class ="simple" href="#">+ Learn more</a> </section>
  </div>
  <!-- one-third column ends here -->
  <div class="one_third lastcolumn">
    <section class="boxthreeright"> <img src="/assets/ajax.png" alt=""/>
      <h3>AJAX</h3>
      <p>Software development is the process of computer programming, documenting, testing, and bug fixing involved in creating</p>
      <a class ="simple" href="#">+ Learn more</a> </section>
  </div>
  <!-- one-third column ends here --> 
</div>
<div class="container boxthree">
  <div class="blankSeparator"></div>
  <div class="one_third">
    <section class="boxthreeleft"> <img src="/assets/jquery.png" alt=""/>
      <h3>JQUERY</h3>
      <p>Web development is a broad term for the work involved in developing a web site for the Internet (World Wide Web) or an intranet.</p>
      <a class ="simple" href="#">+ Learn more</a> </section>
  </div>
  <!-- one-third column ends here -->
  <div class="one_third">
    <section class="boxthreecenter"> <img src="/assets/javascript.png" alt=""/>
      <h3>JAVASCRIPT</h3>
      <p>Web design encompasses many different skills and disciplines as graphics design, interface design, user experience design etc</p>
      <a class ="simple" href="#">+ Learn more</a> </section>
  </div>
  <!-- one-third column ends here -->
  <div class="one_third lastcolumn">
    <section class="boxthreeright"> <img src="/assets/html.png" alt=""/>
      <h3>HTML5</h3>
      <p>Software development is the process of computer programming, documenting, testing, and bug fixing involved in creating</p>
      <a class ="simple" href="#">+ Learn more</a> </section>
  </div>
  <!-- one-third column ends here --> 
</div>
  </div>
  
  <div class="toggle-trigger">Mobile Technologies</div>
  <div class="toggle-container">
    <div class="blankSeparator"></div>
	<div class="container boxthree">
	  <div class="one_third">
		<section class="boxthreeleft"> <img src="/assets/home/1.png" alt=""/>
		  <h3>ANDROID</h3>
		  <p>Web development is a broad term for the work involved in developing a web site for the Internet (World Wide Web) or an intranet.</p>
		  <a class ="simple" href="#">+ Learn more</a> </section>
	  </div>
	  <!-- one-third column ends here -->
	  <div class="one_third">
		<section class="boxthreecenter"> <img src="/assets/home/2.png" alt=""/>
		  <h3>IPHONE</h3>
		  <p>Web design encompasses many different skills and disciplines as graphics design, interface design, user experience design etc</p>
		  <a class ="simple" href="#">+ Learn more</a> </section>
	  </div>
	  <!-- one-third column ends here -->
	  <div class="one_third lastcolumn">
		<section class="boxthreeright"> <img src="/assets/home/3.png" alt=""/>
		  <h3>IPAD</h3>
		  <p>Software development is the process of computer programming, documenting, testing, and bug fixing involved in creating</p>
		  <a class ="simple" href="#">+ Learn more</a> </section>
	  </div>
	  <!-- one-third column ends here --> 
	</div>
  </div>
  
  <div class="toggle-trigger">Web/App Servers</div>
  <div class="toggle-container">
    <div class="blankSeparator"></div>
	<div class="container boxthree">
	  <div class="one_third">
		<section class="boxthreeleft"> <img src="/assets/home/1.png" alt=""/>
		  <h3>APACHE</h3>
		  <p>Web development is a broad term for the work involved in developing a web site for the Internet (World Wide Web) or an intranet.</p>
		  <a class ="simple" href="#">+ Learn more</a> </section>
	  </div>
	  <!-- one-third column ends here -->
	  <div class="one_third">
		<section class="boxthreecenter"> <img src="/assets/home/2.png" alt=""/>
		  <h3>WEBRICK</h3>
		  <p>Web design encompasses many different skills and disciplines as graphics design, interface design, user experience design etc</p>
		  <a class ="simple" href="#">+ Learn more</a> </section>
	  </div>
	  <!-- one-third column ends here -->
	  <div class="one_third lastcolumn">
		<section class="boxthreeright"> <img src="/assets/home/3.png" alt=""/>
		  <h3>MONGREL</h3>
		  <p>Software development is the process of computer programming, documenting, testing, and bug fixing involved in creating</p>
		  <a class ="simple" href="#">+ Learn more</a> </section>
	  </div>
	  <!-- one-third column ends here --> 
	</div>
	<div class="container boxthree">
	  <div class="blankSeparator"></div>
	  <div class="one_third">
		<section class="boxthreeleft"> <img src="/assets/home/1.png" alt=""/>
		  <h3>TOMCAT</h3>
		  <p>Web development is a broad term for the work involved in developing a web site for the Internet (World Wide Web) or an intranet.</p>
		  <a class ="simple" href="#">+ Learn more</a> </section>
	  </div>
	</div>
  </div>
  
 
  <div class="toggle-trigger">Programming Languages</div>
  <div class="toggle-container">
    <div class="blankSeparator"></div>
<div class="container boxthree">
  <div class="one_third">
    <section class="boxthreeleft"> <img src="/assets/home/1.png" alt=""/>
      <h3>RUBY</h3>
      <p>Web development is a broad term for the work involved in developing a web site for the Internet (World Wide Web) or an intranet.</p>
      <a class ="simple" href="#">+ Learn more</a> </section>
  </div>
  <!-- one-third column ends here -->
  <div class="one_third">
    <section class="boxthreecenter"> <img src="/assets/home/2.png" alt=""/>
      <h3>PHP</h3>
      <p>Web design encompasses many different skills and disciplines as graphics design, interface design, user experience design etc</p>
      <a class ="simple" href="#">+ Learn more</a> </section>
  </div>
  <!-- one-third column ends here -->
  <div class="one_third lastcolumn">
    <section class="boxthreeright"> <img src="/assets/home/3.png" alt=""/>
      <h3>JAVA</h3>
      <p>Software development is the process of computer programming, documenting, testing, and bug fixing involved in creating</p>
      <a class ="simple" href="#">+ Learn more</a> </section>
  </div>
  <!-- one-third column ends here --> 
</div>
<div class="container boxthree">
  <div class="blankSeparator"></div>
  <div class="one_third">
    <section class="boxthreeleft"> <img src="/assets/home/1.png" alt=""/>
      <h3>PERL</h3>
      <p>Web development is a broad term for the work involved in developing a web site for the Internet (World Wide Web) or an intranet.</p>
      <a class ="simple" href="#">+ Learn more</a> </section>
  </div>
  <!-- one-third column ends here -->
  <div class="one_third">
    <section class="boxthreecenter"> <img src="/assets/home/2.png" alt=""/>
      <h3>PYTHON</h3>
      <p>Web design encompasses many different skills and disciplines as graphics design, interface design, user experience design etc</p>
      <a class ="simple" href="#">+ Learn more</a> </section>
  </div>
  <!-- one-third column ends here -->
  <div class="one_third lastcolumn">
    <section class="boxthreeright"> <img src="/assets/home/3.png" alt=""/>
      <h3>C/C++</h3>
      <p>Software development is the process of computer programming, documenting, testing, and bug fixing involved in creating</p>
      <a class ="simple" href="#">+ Learn more</a> </section>
  </div>
  <!-- one-third column ends here --> 
</div>
  </div>
  <div class="toggle-trigger">Databases</div>
  <div class="toggle-container">
    <div class="blankSeparator"></div>
<div class="container boxthree">
  <div class="one_third">
    <section class="boxthreeleft"> <img src="/assets/home/1.png" alt=""/>
      <h3>MYSQL</h3>
      <p>Web development is a broad term for the work involved in developing a web site for the Internet (World Wide Web) or an intranet.</p>
      <a class ="simple" href="#">+ Learn more</a> </section>
  </div>
  <!-- one-third column ends here -->
  <div class="one_third">
    <section class="boxthreecenter"> <img src="/assets/home/2.png" alt=""/>
      <h3>POSTGRESQL</h3>
      <p>Web design encompasses many different skills and disciplines as graphics design, interface design, user experience design etc</p>
      <a class ="simple" href="#">+ Learn more</a> </section>
  </div>
  <!-- one-third column ends here -->
  <div class="one_third lastcolumn">
    <section class="boxthreeright"> <img src="/assets/home/3.png" alt=""/>
      <h3>MS SQL SERVER</h3>
      <p>Software development is the process of computer programming, documenting, testing, and bug fixing involved in creating</p>
      <a class ="simple" href="#">+ Learn more</a> </section>
  </div>
  <!-- one-third column ends here --> 
</div>
  </div>
  <!-- ENDS Toggle --> 
</div>
<div class="blankSeparator1"></div>

  </div>
  <!-- container ends here --> 
</div>

<script>
	$(".toggle-trigger").click(function() {
		$(this).next().toggle('explode');
		$(this).toggleClass("active");
		return false;
	}).next().hide(); 
</script>
