<!DOCTYPE html>
<div class="blankSeparator"></div>
<div class="container boxthree">
  <div class="sepContainer1"><!-- --></div>
  <div class="blankSeparator"></div>
  <div class="one_third">
    <section class="boxthreeleft"> <img src="/assets/Ruby-on-Rails.png" alt=""/>
      <h3>RUBY ON RAILS</h3>
      <p>Web development is a broad term for the work involved in developing a web site for the Internet (World Wide Web) or an intranet.</p>
      <a class ="simple" href="#">+ Learn more</a> </section>
  </div>
  <!-- one-third column ends here -->
  <div class="one_third">
    <section class="boxthreecenter"> <img src="/assets/php.png" alt=""/>
      <h3>PHP</h3>
      <p>Web design encompasses many different skills and disciplines as graphics design, interface design, user experience design etc</p>
      <a class ="simple" href="#">+ Learn more</a> </section>
  </div>
  <!-- one-third column ends here -->
  <div class="one_third lastcolumn">
    <section class="boxthreeright"> <img src="/assets/ajax.png" alt=""/>
      <h3>AJAX</h3>
      <p>Software development is the process of computer programming, documenting, testing, and bug fixing involved in creating</p>
      <a class ="simple" href="#">+ Learn more</a> </section>
  </div>
  <!-- one-third column ends here --> 
</div>
<div class="container boxthree">
  <div class="sepContainer1"><!-- --></div>
  <div class="blankSeparator"></div>
  <div class="one_third">
    <section class="boxthreeleft"> <img src="/assets/jquery.png" alt=""/>
      <h3>JQUERY</h3>
      <p>Web development is a broad term for the work involved in developing a web site for the Internet (World Wide Web) or an intranet.</p>
      <a class ="simple" href="#">+ Learn more</a> </section>
  </div>
  <!-- one-third column ends here -->
  <div class="one_third">
    <section class="boxthreecenter"> <img src="/assets/javascript.png" alt=""/>
      <h3>JAVASCRIPT</h3>
      <p>Web design encompasses many different skills and disciplines as graphics design, interface design, user experience design etc</p>
      <a class ="simple" href="#">+ Learn more</a> </section>
  </div>
  <!-- one-third column ends here -->
  <div class="one_third lastcolumn">
    <section class="boxthreeright"> <img src="/assets/html.png" alt=""/>
      <h3>HTML5</h3>
      <p>Software development is the process of computer programming, documenting, testing, and bug fixing involved in creating</p>
      <a class ="simple" href="#">+ Learn more</a> </section>
  </div>
  <!-- one-third column ends here --> 
</div>
<div class="blankSeparator1"></div>
