<!DOCTYPE html>
<html>
  <head>

<meta charset="utf-8">
<title>Aderlogik</title>
<meta name="description" content="Place to put your description text">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

<link rel="stylesheet" href="css/base.css">
<link rel="stylesheet" href="css/skeleton.css">
<link rel="stylesheet" href="css/screen.css">
<link rel="stylesheet" href="css/prettyPhoto.css" type="text/css" media="screen" />

<link rel="shortcut icon" href="/assets/favicon.png">
<link rel="apple-touch-icon" href="/assets/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="/assets/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="/assets/apple-touch-icon-114x114.png">

<link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>      
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      
<div id="header">
  <div class="container header"> 
    <!-- Header | Logo, Menu
		================================================== -->
    <header>
      <div class="logo">
      	<a style="font-size: 20px; color: white;" href="index"><img src="/assets/logo.png" alt="" /></a>
  		<p style="color:white;">We build with core logic</p>
  	  </div>
      <div class="mainmenu">
        <div id="mainmenu">
          <ul class="sf-menu">
            <li><a href="index" id="visited"><span class="home"></span>Home</a></li>
            <li><a href="about_us"><span class="home"></span>About</a></li>
            <li><a href="why_aderlogik"><span class="home"></span>Why Aderlogik</a></li>
            <li><a href="portfolio"><span class="home"></span>Portfolio</a></li>
            <li><a href="services"><span class="home"></span>Services</a></li>
            <li><a href="technology"><span class="home"></span>Technology</a></li>
            <li><a href="contact_us"><span class="home"></span>Contact Us</a></li>
          </ul>
        </div>
        
        <!-- Responsive Menu -->
        
        <form id="responsive-menu" action="#" method="post">
          <select>
            <option value="">Navigation</option>
            <option value="index"><a href="index">Home</option>
            <option value="about_us"><a href="about_us">About</a></option>
            <option value="why_aderlogik"><a href="why_aderlogik">Why Aderlogik</a></option>
            <option value="services"><a href="services">Services</a></option>
            <option value="technology"><a href="technology">Technology</a></option>
            <option value="contact_us"><a href="contact_us">Contact Us</a></option>
          </select>
        </form>
      </div>
    </header>
  </div>
</div>      
      
    <%= yield %>

<div class="blankSeparator1"></div>

<div id="footer">
  <div class="container footer">
    <div class="one_fourth">
      <h3>Contact</h3>
      <div id="tweets"></div>
      <ul class="contactsidebar">
        <li>Seva Sanket-B, Row House No.13,</li>
        <li>Bhadrapath Sector, Swami Samartha Nagar,</li>
        <li>New CIDCO, Nashik</li>
        <li>Maharashtra, India, 422009.</li>
        <li>Website: <a href="#" title="">http://aderlogik.com</a></li>
        <li>Email: <a href="#" title="">info@aderlogik.com</a></li>
      </ul>
    </div>
    <div class="one_fourth">
      <h3>Aderlogik</h3>
      <ul>
        <li class="lines"><a href="index" title="">Home</a></li>
        <li class="lines"><a href="about_us" class="">About Us</a></li>
        <li class="lines"><a href="why_aderlogik" class="">Why Aderlogik</a></li>
        <li class="lines"><a href="portfolio" class="">Portfolio</a></li>
        <li class="lines"><a href="services" class=""> Services</a></li>
        <li class="lines"><a href="technology" class="">Technologies</a></li>
        <li class="lines"><a href="contact_us" class="">Contact Us</a></li>
      </ul>
    </div>
    <div class="one_fourth lastcolumn">
      <h3>About Aderlogik</h3>
      <p>Aderlogik is Core, responsive, simple and clean firm with a lot attention to detail. Get it now!</p>
      <p>Visit <a href="http://aderlogik.com/" rel="nofollow"></a> and find more interesting things to do.</p>
    </div>
  </div>
  <!-- container ends here --> 
</div>     
<div id="copyright">
  <div class="container">
    <div class="eleven columns alpha">
      <p class="copyright">&copy; Copyright 2016. &quot;Aderlogik IT solutions&quot; by <a href="http://www.anarieldesign.com/" rel="nofollow">Aderlogik</a>. All rights reserved.</p>
    </div>
    <div class="five columns omega">
      <section class="socials">
        <ul class="socials fr">
          <li><a href="#"><img src="/assets/socials/twitter.png" class="poshytip" title="Twitter"  alt="" /></a></li>
          <li><a href="#"><img src="/assets/socials/facebook.png" class="poshytip" title="Facebook" alt="" /></a></li>
          <li><a href="#"><img src="/assets/socials/google.png" class="poshytip" title="Google" alt="" /></a></li>
          <li><a href="#"><img src="/assets/socials/dribbble.png" class="poshytip" title="Dribbble" alt="" /></a></li>
        </ul>
      </section>
    </div>
  </div>
  <!-- container ends here --> 
</div> 

  </body>
</html>
