<!DOCTYPE html>
<html>
  <head>
    <title>Ader</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<!-- Header Start-->
	<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index"><img src="/assets/aderlogik-logo.png" alt="Aderlogik"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class=""><a href="index">Home</a></li>
			<li><a href="about">About</a></li>
			<li><a href="service">Services</a></li>
			<li><a href="work">Work</a></li>
			<li><a href="technology">Technology</a></li>
            <li><a href="contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
	<!-- Header End-->
  
    <%= yield %>
    <footer>
		<div class="container">
			<div class="row">
		   <div class="col-lg-4">
		      
		      <h3>ADERLOGIK</h3>
		      <p class="font-light">Our team comes with several years of industry experience, and comprise of a highly motivated set of specialists & industry experts. </p>
		      <p class="font-light">Our goal is to be a leader in the industry by providing enhanced products, services, relationship and profitability.</p>
		    </div>
		    
		    <div class="col-lg-4">
		      
		      <h5>Sitemap</h5>
		      <p class="font-light">
		      	<ul>
		        	<li><a href="javasctip:void(0);">Home</a></li>
		            <li><a href="javasctip:void(0);">About</a></li>
		            <li><a href="javasctip:void(0);">Services</a></li>
		            <li><a href="javasctip:void(0);">Work</a></li>
		            <li><a href="javasctip:void(0);">Technology</a></li>
		            <li><a href="javasctip:void(0);">Contact</a></li>
		        </ul>
		      </p>
		    </div>
		    
		    <div class="col-lg-4">
		      <h5>Location</h5>
		      <p class="font-light">Seva Sanket-B, Row House No.13, <br>
	Bhadrapath Sector, Swami Samartha Nagar,<br>
	New CIDCO, Nashik<br>
	Maharashtra, India, 422009. <br><br>
	Email: <a href="mailto:aderlogik@gmail.com">aderlogik@gmail.com</a>
	</p>
		    </div>
		    
		    </div>
		</div>
		<div class="bottom-footer">
			<div class="container">
		    	<div class="row">
		        	<div class="col-md-6">&copy; Copyright 2016. All rights reserved.</div>
		            <div class="col-md-6 text-right">
		            	<a href="https://www.facebook.com/aderlogik"><img src="/assets/facebook.png" width="28" height="27" alt="Facebook"></a> &nbsp;
		                <a href="javascript:void(0);"><img src="/assets/linkdin.png" width="28" height="27" alt="Linkdin"></a> &nbsp;
		                <a href="javascript:void(0);"><img src="/assets/google.png" width="28" height="27" alt="Google Plus"></a>
		            </div>
		        </div>
		    </div>
		</div>
	</footer>
  </body>
</html>
